*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.4;
  font-size: 18px;
}
.container{
  text-align: center;
}
h1{
  margin: 1rem 0;
}
.cards{
  width: 100%;
  display: flex;
  justify-content: center;
}
.card{
  width: 200px;
  padding: 1rem;
  border: 1px solid #000;
  margin: 0 0.5rem 1rem 0.5rem;
}
form{
  margin: 1rem;
}
select{
  margin: 0 0.5rem;
  width: 200px;
  padding: 0.3rem 0.2rem;
}
.chart{
  width: 40%;
  padding-top: 1rem;
  margin: auto;
}
.btn{
  display: block;
  margin: 1rem auto;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  color: #ffffff;
  background-color: rgb(106, 233, 74);
}
.form-grp{
  width: 200px;
  padding: 1rem 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-flex{
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
}
.btn:hover{
  cursor: pointer;
}
@media (max-width : 976px){
  .chart{
    width: 80%;
  }
}